.cd-admin-settings-preview-image {
    height: 100px;
    max-width: 200px;
    object-fit: contain;
    cursor: pointer;
    fieldset {
        padding: 50px 0 50px 0;
        border-bottom: 1px solid #666;
    }
}

#dvwp-admin-branding-form-submit-container {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    z-index: 999;
}


.dvwp-field-container {
    padding: 1% 0;
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
    }
    &:not(:last-of-type) {
        border-bottom: 1px dotted #000;
    }
}

.dvwp-fieldset {
    &:not(:last-of-type) {
        border-bottom: 1px solid #000;
    }
}

#dvwp-login-form-colors {
    flex-wrap: wrap;
    display: flex;
    h1, h2, h3, h4, label, p {
        flex-basis: 100%;
    }
    .dvwp-field-container {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        flex-basis: 30%; 
        flex-grow: .3;
    }
}

.dvwp-instructions {
    font-style: italic;
}