#wp-admin-bar-dvwp-admin-logo >.ab-item img {
    max-height: 20px !important;
    margin: 0 auto;
    vertical-align: middle;
}
#wp-admin-bar-dvwp-admin-logo >.ab-item a {
    line-height: 28px !important;
    display: flex;
    align-items: center;
}