/* DV ELEMENTOR GALLERY  */
.dv-elementor-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2px;
    height: auto;
}
.dv-elementor-gallery-item-wrapper {
    width: calc(25% - 2px);
}
.dv-elementor-gallery-item-container {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 66.6%;
    .dv-elementor-gallery-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .dv-elementor-gallery-item-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--dv-overlay);
        transition: background var(--dv-trans-time);
    }
    &:hover .dv-elementor-gallery-item-overlay {
        background: transparent;
    }
}
