
@media (max-width: 1024px) {
    
    // dv flex slider
    .flexslider .flex-slide-item {
        height: 90vh;
        padding: var(--dv-sect-padding-d);
    }

    // dv posts
    .dv-posts {
        gap: 4%;
        .dv-post {
            margin-bottom: 4%;
            flex-basis: 48%;
        }
    }

    // dv elementor gallery
    .dv-elementor-gallery-item-wrapper {
        width: calc((100% / 3) - 2px);
    }

}

@media (max-width: 767px) {

    // dv posts
    .dv-posts-filters-container {
        flex-direction: column;
        gap: 1em;
    }

    .dv-posts-taxonomy-filter {
        width: 100%;
        margin-bottom: 10%;
        gap: 10px!important;
        li {
            flex-grow: 1;
            .ajax_item {
                width: 100%;
            }
        }
    }
    
    .dv-posts .dv-post {
        margin-bottom: 10%;
        flex-basis: 100%;
    }
    .dv-filter-search {
        width: 100%;
    }
    .dv-filter-sort{
        width: 100%;
    }
    
    .pagination .pag_item_text {
        display: none;
    }

    // dv elementor gallery
    .dv-elementor-gallery-item-wrapper {
        width: calc( 50% - 2px);
    }
    
}
