/** DV POSTS */
.dv-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    transition: opacity 0.3s;
    &.transitioning {
        opacity: 0;
    }
    .dv-submit:after {
        content: '/f002';
        font-family: "Font Awesome 5 Free";
    }
    .page-number-notice {
        display: block;
    }
    .query-pages-notices {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
    }
    .dv-post {
        flex-basis: 32%;
        margin-bottom: 2%;
        word-break: break-word;
        background-color: #fff;
        &:hover, &:focus-within {
            .dv-post-image-link:after {
                background: none;
            }
        }
        .dv-post-link * {
            color: inherit;
        }
        .dv-post-image-link {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 50%;
            overflow: hidden;
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                height: 100%;
                width: 100%;
                content: "";
                background: #00000030;
                transition: background $transTime;
            }
            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .dv-post-taxonomy-terms {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
        .term {
            font-size: 12px;
            padding: 10px;
            background-color: #eee;
        }
        .term.prime-term {
            font-weight: bold;
            color: #eee;
            background-color: #666;
        }
        .post-details {
            padding: 5%;
            flex-wrap: wrap;
        }
        .read-more {
            align-self: end;
            justify-self: flex-end;
            font-weight: var(--dv-font-bold);
        }        
    }
}

/* search*/
.dv-filter-search {
    display: flex;
    .dv-filter-search-input {
        flex-grow: 1;
		padding: 10px;
        font-family: inherit;
        color: inherit;
    }
    .dv-submit {
		padding: 10px;
        color: inherit;
        font-family: inherit;
    }
}

/* filters container */
.dv-posts-filters-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* taxonomy filers */
.dv-posts-taxonomy-filters {
    flex-basis: 70%;
    .dv-posts-taxonomy-filter {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: 100%;
        list-style-type: none;
        padding: 0;
        .terms-list_item {
		    padding: 10px;
            border: 2px solid #eee;
            background-color: #eee;
            font-family: inherit;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                background-color: #fff;
            }
            &.active {
                border: 2px solid #fff;
                background-color: #fff;
            }
        }
    }
}

/* sort */
.dv-filter-sort {
    flex-basis: 20%;
    background-color: #eee;
}

/* pagination */
.pagination {
    flex-basis: 100%;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 0;
        list-style-type: none;
    }
}
