
.blog-post-navigation-container {
    position: sticky;
    top: 10vh;
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.4;
    transition: opacity 0.3s;
  }
  .blog-post-navigation-container:hover,
  .blog-post-navigation-container:active,
  .blog-post-navigation-container:focus,
  .blog-post-navigation-container.before-scroll {
    opacity: 1;
  }
  
  .blog-post-navigation {
    display: block;
    padding: 50px;
    background-color: #f0e2db;
  }
  
  .blog-post-navigation h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .blog-post-navigation ul {
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .blog-post-navigation ul li {
    margin-bottom: 10px;
    color: #1d5f6f;
  }
  .blog-post-navigation ul li:hover,
  .blog-post-navigation ul li:active,
  .blog-post-navigation ul li:focus {
    color: #2c90a8;
  }
  
  .blog-post-navigation .blog-nav-super-anchor {
    list-style-type: none;
  }
  
  .blog-post-navigation .blog-nav-sub-anchor li {
    margin-left: 20px;
    text-transform: capitalize;
  }
  