/** SLIDER */
.flexslider {
    border: none;
    color: #eee;
    transition: opacity 2s;
    background-color: #000;
    &.not_loaded {
        opacity: 0;
    }
    ul.slides {
        position: relative;
        padding: 0;
        z-index: 0;
        .flex-slide-item {
            position: relative;
            display: flex !important;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 30%;
            overflow: hidden;
            &.flex-slide-image-position-center img {
                object-position: center;
            }
            &.flex-slide-image-position-top img {
                object-position: top;
            }
            &.flex-slide-image-position-right img {
                object-position: right;
            }
            &.flex-slide-image-position-bottom img {
                object-position: bottom;
            }
            &.flex-slide-image-position-left img {
                object-position: left;
            }
            a {
                color: #eee;
            }
            .full_slide_link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            .flex-slide-img-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
            }
            img {
                position: absolute;
                height: 100%;
                object-fit: cover;
                opacity: 0.9;
            }
            .flex-slide-img-overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: .5;
            }
            .flex-slide-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 70%;
                width: 100%;
                padding: var(--dv-sect-padding-d);
                z-index: 9;
                h2.dv-slide-title {
                    color: #fff !important;
                    text-transform: uppercase;
                }
                .dv-slide-dates {
                    padding: 5px;
                    font-size: 0.7em;
                    font-weight: var(--dv-font-bold);
                }
                .dv-slide-description {
                    font-weight: var(--dv-font-bold);
                }
            }
            .slide_read_more_button {
                position: absolute;
                bottom: 5%;
                padding: 10px 20px;
                text-transform: uppercase;
                z-index: 9;
            }            
        }
    }
    .flex-direction-nav a {
        height: auto;
        width: auto;
        &:before {
            color: #eee;
            font-size: 20px;
            &:hover, &:focus {
                color: #fff;
            }
        }
    }
    .flex-control-nav.flex-control-paging {
        padding: 0;
        margin: 0;
    }
}
