@font-face {
  font-family: "Source Code Pro DV";
  src: url("../fonts/SourceCodePro-Regular.woff") format("woff"), url("../fonts/SourceCodePro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#cd-admin-footer-logo-container {
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
  color: #4b4c4b;
  font-family: "Source Code Pro DV", monospace;
  line-height: 0;
  opacity: 0.8;
  text-decoration: none;
  transition: opacity 0.3s;
}

#cd-admin-footer-logo-container:hover,
#cd-admin-footer-logo-container:focus,
#cd-admin-footer-logo-container:active {
  opacity: 1;
}

#cd-admin-footer-logo-container img {
  width: 35px;
  margin-right: 5px;
}

#cd-admin-footer-logo-container span {
  margin-bottom: 15px;
}

#wp-admin-bar-dvwp-admin-logo > .ab-item img {
  max-height: 20px !important;
  margin: 0 auto;
  vertical-align: middle;
}

#wp-admin-bar-dvwp-admin-logo > .ab-item a {
  line-height: 28px !important;
  display: flex;
  align-items: center;
}

.cd-admin-settings-preview-image {
  height: 100px;
  max-width: 200px;
  object-fit: contain;
  cursor: pointer;
}
.cd-admin-settings-preview-image fieldset {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #666;
}

#dvwp-admin-branding-form-submit-container {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  z-index: 999;
}

.dvwp-field-container {
  padding: 1% 0;
}
.dvwp-field-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
.dvwp-field-container:not(:last-of-type) {
  border-bottom: 1px dotted #000;
}

.dvwp-fieldset:not(:last-of-type) {
  border-bottom: 1px solid #000;
}

#dvwp-login-form-colors {
  flex-wrap: wrap;
  display: flex;
}
#dvwp-login-form-colors h1, #dvwp-login-form-colors h2, #dvwp-login-form-colors h3, #dvwp-login-form-colors h4, #dvwp-login-form-colors label, #dvwp-login-form-colors p {
  flex-basis: 100%;
}
#dvwp-login-form-colors .dvwp-field-container {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  flex-basis: 30%;
  flex-grow: 0.3;
}

.dvwp-instructions {
  font-style: italic;
}

/*# sourceMappingURL=admin.css.map */
