@font-face {
    font-family: 'Source Code Pro DV';
    src:
        url('../fonts/SourceCodePro-Regular.woff') format('woff'),
        url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#cd-admin-footer-logo-container {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
    color: #4b4c4b;
    font-family: "Source Code Pro DV", monospace;
    line-height: 0;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity .3s;
}
#cd-admin-footer-logo-container:hover,
#cd-admin-footer-logo-container:focus,
#cd-admin-footer-logo-container:active {
    opacity: 1;
}

#cd-admin-footer-logo-container img {
    width: 35px;
    margin-right: 5px;
}

#cd-admin-footer-logo-container span {
    margin-bottom: 15px;
}