.dv-cart-is-empty .dv-cart {
    display: none;
    opacity: 0;
}

/** DV POSTS */
.dv-posts {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2%;
    transition: opacity 0.3s;
    &.transitioning {
        opacity: 0;
    }
    .page-number-notice {
        display: block;
    }
    .query-pages-notices {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
    }
    .dv-post {
        flex-basis: 32%;
        margin-bottom: 2%;
        word-break: break-word;
        background-color: #fff;
        .dv-post-link * {
            color: inherit;
        }
        .dv-post-image-link {
            position: relative;
            display: block;
            width: 100%;
            padding-top: 50%;
            overflow: hidden;
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                height: 100%;
                width: 100%;
                content: "";
                background: var(--dv-overlay);
                transition: background var(--dv-trans-time);
            }
            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .post-details {
            padding: 5%;
            flex-wrap: wrap;
        }
        .read-more {
            align-self: end;
            justify-self: flex-end;
            font-weight: var(--dv-font-bold);
        }        
    }
}

/* taxonomy filers */
.dv-posts-filters-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    .dv-posts-filters {
        flex-basis: 70%;
        .dv-posts-filter-terms-list {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            width: 100%;
            list-style-type: none;
            padding: 0;
        }
    }
    .dv-filter-sort {
        flex-basis: 20%;
    }
}

/* pagination */
.pagination {
    flex-basis: 100%;
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 0;
        list-style-type: none;
    }
}

/* DV ELEMENTOR GALLERY  */
.dv-elementor-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2px;
    height: auto;
}
.dv-elementor-gallery-item-wrapper {
    width: calc(25% - 2px);
}
.dv-elementor-gallery-item-container {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 66.6%;
    .dv-elementor-gallery-item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .dv-elementor-gallery-item-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: var(--dv-overlay);
        transition: background var(--dv-trans-time);
    }
    &:hover .dv-elementor-gallery-item-overlay {
        background: transparent;
    }
}

/** SLIDER */
.flexslider {
    border: none;
    color: #eee;
    transition: opacity 2s;
    background-color: #000;
    &.not_loaded {
        opacity: 0;
    }
    ul.slides {
        position: relative;
        padding: 0;
        z-index: 0;
        .flex-slide-item {
            position: relative;
            display: flex !important;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 30%;
            overflow: hidden;
            &.flex-slide-image-position-center img {
                object-position: center;
            }
            &.flex-slide-image-position-top img {
                object-position: top;
            }
            &.flex-slide-image-position-right img {
                object-position: right;
            }
            &.flex-slide-image-position-bottom img {
                object-position: bottom;
            }
            &.flex-slide-image-position-left img {
                object-position: left;
            }
            a {
                color: #eee;
            }
            .full_slide_link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            .flex-slide-img-container {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
            }
            img {
                position: absolute;
                height: 100%;
                object-fit: cover;
                opacity: 0.9;
            }
            .flex-slide-img-overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: .5;
            }
            .flex-slide-content {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 70%;
                width: 100%;
                padding: var(--dv-sect-padding-d);
                z-index: 9;
                h2.dv-slide-title {
                    color: #fff !important;
                    text-transform: uppercase;
                }
                .dv-slide-dates {
                    padding: 5px;
                    font-size: 0.7em;
                    font-weight: var(--dv-font-bold);
                }
                .dv-slide-description {
                    font-weight: var(--dv-font-bold);
                }
            }
            .slide_read_more_button {
                position: absolute;
                bottom: 5%;
                padding: 10px 20px;
                text-transform: uppercase;
                z-index: 9;
            }            
        }
    }
    .flex-direction-nav a {
        height: auto;
        width: auto;
        &:before {
            color: #eee;
            font-size: 20px;
            &:hover, &:focus {
                color: #fff;
            }
        }
    }
    .flex-control-nav.flex-control-paging {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 1024px) {
    
    .flexslider .flex-slide-item {
        height: 90vh;
        padding: var(--dv-sect-padding-d);
    }

    .dv-posts {
        gap: 4%;
        .dv-post {
            margin-bottom: 4%;
            flex-basis: 48%;
        }
    }

    .dv-elementor-gallery-item-wrapper {
        width: calc((100% / 3) - 2px);
    }

}

@media (max-width: 767px) {

    .dv-posts-filters-container {
        flex-direction: column;
        gap: 1em;
    }
    
    .cat-list {
        width: 100%;
        margin-bottom: 10%;
        flex-direction: column;
        gap: 10px!important;
    }
    .cat-list .ajax_item {
        width: 100%;
     
    }
    
    .dv-posts .dv-post {
        margin-bottom: 10%;
        flex-basis: 100%;
    }
    
    .pagination .pag_item_text {
        display: none;
    }

    .dv-elementor-gallery-item-wrapper {
        width: calc( 50% - 2px);
    }
    
}
