@import 'var';
@import 'admin-bar';
@import 'general';
@import 'posts';
@import 'post-single-navigation';
@import 'elementor-gallery';
@import 'slides';
@import 'media-queries';


.dv-cart-is-empty .dv-cart {
    display: none;
    opacity: 0;
}

@media (max-width: 1024px) {
    
    .flexslider .flex-slide-item {
        height: 90vh;
        padding: var(--dv-sect-padding-d);
    }

    .dv-posts {
        gap: 4%;
        .dv-post {
            margin-bottom: 4%;
            flex-basis: 48%;
        }
    }

    .dv-elementor-gallery-item-wrapper {
        width: calc((100% / 3) - 2px);
    }

}

@media (max-width: 767px) {

    .dv-posts-filters-container {
        flex-direction: column;
        gap: 1em;
    }
    
    .cat-list {
        width: 100%;
        margin-bottom: 10%;
        flex-direction: column;
        gap: 10px!important;
    }
    .cat-list .ajax_item {
        width: 100%;
     
    }
    
    .dv-posts .dv-post {
        margin-bottom: 10%;
        flex-basis: 100%;
    }
    
    .pagination .pag_item_text {
        display: none;
    }

    .dv-elementor-gallery-item-wrapper {
        width: calc( 50% - 2px);
    }
    
}
