#wp-admin-bar-dvwp-admin-logo > .ab-item img {
  max-height: 20px !important;
  margin: 0 auto;
  vertical-align: middle;
}

#wp-admin-bar-dvwp-admin-logo > .ab-item a {
  line-height: 28px !important;
  display: flex;
  align-items: center;
}

.dv-cart-is-empty .dv-cart {
  display: none;
  opacity: 0;
}

/** DV POSTS */
.dv-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  transition: opacity 0.3s;
}
.dv-posts.transitioning {
  opacity: 0;
}
.dv-posts .dv-submit:after {
  content: "/f002";
  font-family: "Font Awesome 5 Free";
}
.dv-posts .page-number-notice {
  display: block;
}
.dv-posts .query-pages-notices {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}
.dv-posts .dv-post {
  flex-basis: 32%;
  margin-bottom: 2%;
  word-break: break-word;
  background-color: #fff;
}
.dv-posts .dv-post:hover .dv-post-image-link:after, .dv-posts .dv-post:focus-within .dv-post-image-link:after {
  background: none;
}
.dv-posts .dv-post .dv-post-link * {
  color: inherit;
}
.dv-posts .dv-post .dv-post-image-link {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 50%;
  overflow: hidden;
}
.dv-posts .dv-post .dv-post-image-link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  content: "";
  background: #00000030;
  transition: background 0.3s;
}
.dv-posts .dv-post .dv-post-image-link img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.dv-posts .dv-post .dv-post-taxonomy-terms {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dv-posts .dv-post .term {
  font-size: 12px;
  padding: 10px;
  background-color: #eee;
}
.dv-posts .dv-post .term.prime-term {
  font-weight: bold;
  color: #eee;
  background-color: #666;
}
.dv-posts .dv-post .post-details {
  padding: 5%;
  flex-wrap: wrap;
}
.dv-posts .dv-post .read-more {
  align-self: end;
  justify-self: flex-end;
  font-weight: var(--dv-font-bold);
}

/* search*/
.dv-filter-search {
  display: flex;
}
.dv-filter-search .dv-filter-search-input {
  flex-grow: 1;
  padding: 10px;
  font-family: inherit;
  color: inherit;
}
.dv-filter-search .dv-submit {
  padding: 10px;
  color: inherit;
  font-family: inherit;
}

/* filters container */
.dv-posts-filters-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

/* taxonomy filers */
.dv-posts-taxonomy-filters {
  flex-basis: 70%;
}
.dv-posts-taxonomy-filters .dv-posts-taxonomy-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  list-style-type: none;
  padding: 0;
}
.dv-posts-taxonomy-filters .dv-posts-taxonomy-filter .terms-list_item {
  padding: 10px;
  border: 2px solid #eee;
  background-color: #eee;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
}
.dv-posts-taxonomy-filters .dv-posts-taxonomy-filter .terms-list_item:hover {
  background-color: #fff;
}
.dv-posts-taxonomy-filters .dv-posts-taxonomy-filter .terms-list_item.active {
  border: 2px solid #fff;
  background-color: #fff;
}

/* sort */
.dv-filter-sort {
  flex-basis: 20%;
  background-color: #eee;
}

/* pagination */
.pagination {
  flex-basis: 100%;
}
.pagination ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  list-style-type: none;
}

.blog-post-navigation-container {
  position: sticky;
  top: 10vh;
  max-height: 80vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.blog-post-navigation-container:hover,
.blog-post-navigation-container:active,
.blog-post-navigation-container:focus,
.blog-post-navigation-container.before-scroll {
  opacity: 1;
}

.blog-post-navigation {
  display: block;
  padding: 50px;
  background-color: #f0e2db;
}

.blog-post-navigation h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.blog-post-navigation ul {
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.blog-post-navigation ul li {
  margin-bottom: 10px;
  color: #1d5f6f;
}

.blog-post-navigation ul li:hover,
.blog-post-navigation ul li:active,
.blog-post-navigation ul li:focus {
  color: #2c90a8;
}

.blog-post-navigation .blog-nav-super-anchor {
  list-style-type: none;
}

.blog-post-navigation .blog-nav-sub-anchor li {
  margin-left: 20px;
  text-transform: capitalize;
}

/* DV ELEMENTOR GALLERY  */
.dv-elementor-gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2px;
  height: auto;
}

.dv-elementor-gallery-item-wrapper {
  width: calc(25% - 2px);
}

.dv-elementor-gallery-item-container {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 66.6%;
}
.dv-elementor-gallery-item-container .dv-elementor-gallery-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dv-elementor-gallery-item-container .dv-elementor-gallery-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--dv-overlay);
  transition: background var(--dv-trans-time);
}
.dv-elementor-gallery-item-container:hover .dv-elementor-gallery-item-overlay {
  background: transparent;
}

/** SLIDER */
.flexslider {
  border: none;
  color: #eee;
  transition: opacity 2s;
  background-color: #000;
}
.flexslider.not_loaded {
  opacity: 0;
}
.flexslider ul.slides {
  position: relative;
  padding: 0;
  z-index: 0;
}
.flexslider ul.slides .flex-slide-item {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30%;
  overflow: hidden;
}
.flexslider ul.slides .flex-slide-item.flex-slide-image-position-center img {
  object-position: center;
}
.flexslider ul.slides .flex-slide-item.flex-slide-image-position-top img {
  object-position: top;
}
.flexslider ul.slides .flex-slide-item.flex-slide-image-position-right img {
  object-position: right;
}
.flexslider ul.slides .flex-slide-item.flex-slide-image-position-bottom img {
  object-position: bottom;
}
.flexslider ul.slides .flex-slide-item.flex-slide-image-position-left img {
  object-position: left;
}
.flexslider ul.slides .flex-slide-item a {
  color: #eee;
}
.flexslider ul.slides .flex-slide-item .full_slide_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.flexslider ul.slides .flex-slide-item .flex-slide-img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.flexslider ul.slides .flex-slide-item img {
  position: absolute;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}
.flexslider ul.slides .flex-slide-item .flex-slide-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}
.flexslider ul.slides .flex-slide-item .flex-slide-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 70%;
  width: 100%;
  padding: var(--dv-sect-padding-d);
  z-index: 9;
}
.flexslider ul.slides .flex-slide-item .flex-slide-content h2.dv-slide-title {
  color: #fff !important;
  text-transform: uppercase;
}
.flexslider ul.slides .flex-slide-item .flex-slide-content .dv-slide-dates {
  padding: 5px;
  font-size: 0.7em;
  font-weight: var(--dv-font-bold);
}
.flexslider ul.slides .flex-slide-item .flex-slide-content .dv-slide-description {
  font-weight: var(--dv-font-bold);
}
.flexslider ul.slides .flex-slide-item .slide_read_more_button {
  position: absolute;
  bottom: 5%;
  padding: 10px 20px;
  text-transform: uppercase;
  z-index: 9;
}
.flexslider .flex-direction-nav a {
  height: auto;
  width: auto;
}
.flexslider .flex-direction-nav a:before {
  color: #eee;
  font-size: 20px;
}
.flexslider .flex-direction-nav a:before:hover, .flexslider .flex-direction-nav a:before:focus {
  color: #fff;
}
.flexslider .flex-control-nav.flex-control-paging {
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .flexslider .flex-slide-item {
    height: 90vh;
    padding: var(--dv-sect-padding-d);
  }

  .dv-posts {
    gap: 4%;
  }
  .dv-posts .dv-post {
    margin-bottom: 4%;
    flex-basis: 48%;
  }

  .dv-elementor-gallery-item-wrapper {
    width: calc((100% / 3) - 2px);
  }
}
@media (max-width: 767px) {
  .dv-posts-filters-container {
    flex-direction: column;
    gap: 1em;
  }

  .dv-posts-taxonomy-filter {
    width: 100%;
    margin-bottom: 10%;
    gap: 10px !important;
  }
  .dv-posts-taxonomy-filter li {
    flex-grow: 1;
  }
  .dv-posts-taxonomy-filter li .ajax_item {
    width: 100%;
  }

  .dv-posts .dv-post {
    margin-bottom: 10%;
    flex-basis: 100%;
  }

  .dv-filter-search {
    width: 100%;
  }

  .dv-filter-sort {
    width: 100%;
  }

  .pagination .pag_item_text {
    display: none;
  }

  .dv-elementor-gallery-item-wrapper {
    width: calc( 50% - 2px);
  }
}
.dv-cart-is-empty .dv-cart {
  display: none;
  opacity: 0;
}

@media (max-width: 1024px) {
  .flexslider .flex-slide-item {
    height: 90vh;
    padding: var(--dv-sect-padding-d);
  }

  .dv-posts {
    gap: 4%;
  }
  .dv-posts .dv-post {
    margin-bottom: 4%;
    flex-basis: 48%;
  }

  .dv-elementor-gallery-item-wrapper {
    width: calc((100% / 3) - 2px);
  }
}
@media (max-width: 767px) {
  .dv-posts-filters-container {
    flex-direction: column;
    gap: 1em;
  }

  .cat-list {
    width: 100%;
    margin-bottom: 10%;
    flex-direction: column;
    gap: 10px !important;
  }

  .cat-list .ajax_item {
    width: 100%;
  }

  .dv-posts .dv-post {
    margin-bottom: 10%;
    flex-basis: 100%;
  }

  .pagination .pag_item_text {
    display: none;
  }

  .dv-elementor-gallery-item-wrapper {
    width: calc( 50% - 2px);
  }
}

/*# sourceMappingURL=style.css.map */
